.chat {
	max-width: 75%;
	margin: 50px auto;
}
		
@media (min-width: 768px) {
	.chat {
		max-width: 50%;  // Width for desktop and larger screens 
	}
}		

.chat-bubble {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.chat-bubble img {
	width: 40px;
	height: 40px;
}
.chat-text {
	padding: 10px 15px;
	border-radius: 20px;
	margin: 0 10px;
}
.help-text {
	padding: 0px;
	margin: 0px;
}
.current-user .chat-text {
	background-color: white;
}
.specky-user .chat-text {
	background-color: rgba(57, 192, 237);
	color: white;
}

.list-group-item-action{
	cursor: pointer;
}


/* CODE BLOCK */
.code
{
	display: block;
	max-height: 500px;
	width: 100%;
	margin: 20px 0;
	font-family: monospace;
	font-size: 13px;
	line-height: 23px;
	position: relative;
	overflow: auto
}

.code .numbers, .code .source { float: left }

.code .numbers
{
	padding: 10px;
	text-align: right
}

.code .source { padding: 10px 0 }
.code .source .line:nth-child(2n) { }
.code .source .line { padding: 0 10px }
.code .source .comment { font-style: italic }

.code .copy
{
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer
}

/* STYLES for CODE*/
.code-style-light
{
	color: #444;
	background: #f5f5f5;
}
.code-style-light .numbers
{
	color: #999;
	background: #fff;
}
.code-style-light .source .line:nth-child(2n) {background: #f2f2f2}
.code-style-light .source .comment {color: #3FAB46}

/* CSharp */
.code-style-light .source .c-pppvaovcsn {color: #E05366}
.code-style-light .source .c-iescbrnu {color: #6593E0}

.code-style-dark
{
	color: #E6E6E6;
	background: #333;
}
.code-style-dark .numbers
{
	color: #999;
	background: #fff;
}
.code-style-dark .source .line:nth-child(2n) {background: #363636}
.code-style-dark .source .comment {color: #588A5B}

/* CSharp */
.code-style-dark .source .sharp-keywords {color: #DF5D6E}
.code-style-dark .source .sharp-default-types {color: #718DBD}

pre {
	color: #E6E6E6;
	background: #333;
	padding: 10px;
}

.form-outline {
	margin-top: 10px;
}